@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'Montserrat', sans-serif;
}
.imagenFondo{
    background-image:url("./Img/Fondo.jpg");
    background-size:cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.matcheAdas{
    font-family: 'Pacifico', cursive;
    max-width: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color:rgb(255, 82, 111);
    margin: 20px;
    font-size: 50px;
}
.row{
    width: 504px;
    margin:15px ;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding:5px;
    border:3px solid white;
    border-radius: 5px;
    background-color:rgb(255, 82, 111); 
    color:white;
}
.container{
    height:504px;
    width:504px;
    position:relative;
    background-color:rgba(0,0,0,0.7);
    border:3px solid white;
    border-radius: 5px;
}
.emoji {
    pointer-events: none;
    width: 100%;
}
.reloj{
    border:2px solid black;
    padding: 0px 15px 0px 15px;
    margin-top: 5px;
    background-color:rgb(255, 82, 111); 
    color:white;
    border:3px solid white;
    border-radius: 5px;
}

.celda-seleccionada{
    background-color: rgb(94, 94, 204);
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

/* 
button{
    background-color:rgb(255, 82, 111);
}
.buttons:hover{
    transition-duration:0.1s;
    background-color:rgb(150, 52, 69);
} */